/* body {
  background-color: #eeeeee;
}
header,
section,
footer {
  max-width: 800px;
  background-color: #ffffff;
  margin: auto;
}

header {
  height: 100px;
  text-align: center;
}
footer {
  height: 100px;
  text-align: center;
}

.aviso {
  padding: 10px;
  background-color: #ff0000;
  border: 2px solid #ffffff;
  margin: 10px;
} */


/* configuração  teka de login */

body {
    background-color: rgb(243, 103, 103);
}

.AreaLogin {
    margin-top: 5px;
    width: 470px;
    height: 470px;
    /* background-color: #eeeeee; */
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -150px;
    margin-top: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: rgb(81, 236, 228);
}

.AreaLogin input[type="email"],
.AreaLogin input[type="password"] {
    width: 100%;
    height: 55px;
    outline: 0;
    font-size: 16px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid #ccc;
}

.AreaLogin input[type="submit"] {
    width: 100px;
    height: 40px;
    border: 0px;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: rgb(240, 41, 41);
}

.AreaLoginCores {
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(248, 178, 178);
}

.warning {
    border: 2px, solid #0e0d0d;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(248, 81, 81);
    color: rgb(19, 18, 18);
    margin-top: 20px;
}