/* body {
  background-color: #eeeeee;
}
header,
section,
footer {
  max-width: 800px;
  background-color: #ffffff;
  margin: auto;
}

header {
  height: 100px;
  text-align: center;
}
footer {
  height: 100px;
  text-align: center;
}

.aviso {
  padding: 10px;
  background-color: #ff0000;
  border: 2px solid #ffffff;
  margin: 10px;
} */


/* configuração  teka de login */

body {
    background-color: rgb(255, 255, 255);
}

.AreaLogin {
    width: 370px;
    height: 370px;
    background-color: #f08c8c;
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -150px;
    margin-top: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999;
    border: 1px solid #ccc;
    padding: 15px;
}

.AreaLogin input[type="email"],
.AreaLogin input[type="password"] {
    width: 90%;
    height: 40px;
    outline: 0;
    font-size: 16px;
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.AreaLogin input[type="submit"] {
    width: 100px;
    height: 40px;
    border: 0px;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: rgb(240, 41, 41);
}

.AreaLoginCores {
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(248, 178, 178);
}