    body {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .leftmenu {
        width: 200px;
        background-color: #353535;
        position: absolute;
        left: 0;
        top: 0;
        bottom: -615px;
    }

    .container {
        padding-left: 200px;
    }

    .top {
        height: 50px;
        background-color: #353535;
        color: #fff;
        font-size: 15px;
    }

    .top_right {
        float: right;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .top_right a {
        text-decoration: none;
        color: #fff;
    }

    .company_name {
        height: 100px;
        line-height: 100px;
        font-size: 18px;
        color: #fff;
        text-align: center;
    }

    /* MENU */

    .menuarea {
        color: #ffffff;
    }

    .menuarea ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menuarea li {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #999;
        font-size: 14px;
        padding-left: 45px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 10px 13px;
    }

    .menuarea li:hover {
        background-color: rgb(8, 160, 206);
        ;
    }

    .menuarea li a {
        color: #fff;
        text-decoration: none;
        display: block;
    }

    /*criação de imagens via css para cada item um nova imagme é adicionada, conforme a necessidade*/ 

    .menuarea li:nth-child(1) {
        background-image: url('../images/Home-128.png');
    }

    .menuarea li:nth-child(2) {
        background-image: url('../images/Login.png');
    }

    .menuarea li:nth-child(3) {
        background-image: url('../images/users.png');
    }

    .menuarea li:nth-child(4) {
        background-image: url('../images/clients.png');
    }

    .area {
        padding: 15px;
    }

    .tabitem {
        float: left;
        width: 50%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid #1f232a;
        background-color: #EEE;
        cursor: pointer;
        border-radius: 6px;
    }

    .activetab {
        border-bottom: solid #fff;
        background-color: rgb(8, 160, 206);
        border-radius: 6px;
    }

    .tabbody {
        display: none;
        padding-top: 50px;
    }

    input[type=text], input[type=email], input[type=password], select, textarea {
        margin-top: 5px;
        width: 100%;
        height: 30px;
        font-size: 13px;
        outline: 0;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px
    }

    textarea {
        height: 100px;
    }

    input[type=submit], button, .button {
        margin-top: 50px;
        border: 0px;
        background-color: #1f232a;
        color: #fff;
        height: 40px;
        line-height: 40px;
        border-radius: 13px;
        padding-left: 23px;
        padding-right: 23px;
        cursor: pointer;
        font-size: 13px;
        text-decoration: none;
        display: inline-block;
        margin: 2px;
    }

    .button a {
        color: #fff;
        text-decoration: none;
    }

    .button-Excluir {
        border: 2px;
        background-color: #2e67d2;
        color: #fff;
        height: 30px;
        line-height: 30px;
        border-radius: 7px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        font-size: 12px;
        text-decoration: none;
        display: inline-block;
        margin-left: 30%;
    }

    .button-Editar {
        border: 2px;
        background-color: #d22e2e;
        color: #fff;
        height: 30px;
        line-height: 30px;
        border-radius: 7px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        font-size: 12px;
        text-decoration: none;
        display: inline-block;
        margin-left: 30%;
    }

    label {
        cursor: pointer;
    }

    table {
        margin-top: 10px;
    }

    table th {
        width: 50%;
        height: 40px;
        line-height: 40px;
        background-color: #ddd;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
/* visuallização da tabela do item de adicionar novo usuário */ 
    table td {
        margin-top: 50px;
        margin: 2px;
        height: 60px;
        line-height: 40px;
        background-color: #EEE;
        font-size: 12px;
        padding-left: 67px;
        padding-right: 104px;
        font-size: 14px;
    }

    .p_item {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-family: cursive;
    }

    /*CLASSE DE AVISO PADRÃO PARA O SISTEMA TODO*/

    .warn {
        padding: 15px;
        background-color: rgba(245, 66, 60, 0.836);
        border-radius: 3px;
        border: 2px solid #ccc;
        margin-top: 10px;
        margin-bottom: 10px;
    }