body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.leftmenu {
    width: 200px;
    background-color: #1f232a;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.container {
    padding-left: 200px;
}

.top {
    height: 40px;
    background-color: rgb(7, 7, 7);
    color: #fff;
    font-size: 15px;
}

.top_right {
    float: right;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.top_right a {
    text-decoration: none;
    color: #fff;
}

.company_name {
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}


/* MENU */

.menuarea {
    color: #ffffff;
}

.menuarea ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menuarea li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999;
    font-size: 14px;
    padding-left: 33px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px 13px;
}

.menuarea li:hover {
    background-color: black;
    ;
}

.menuarea li a {
    color: #fff;
    text-decoration: none;
    display: block;
}


/*criação de imagens via css*/

.menuarea li:nth-child(1) {
    background-image: url('../images/Home-128.png');
}

.menuarea li:nth-child(2) {
    background-image: url('../images/Login.png');
}

.area {
    padding: 15px;
}

.tabitem {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #1f232a;
    background-color: #EEE;
    cursor: pointer;
}

.activetab {
    border-bottom: solid #fff;
    background-color: #fff;
}